* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.education {
  border-radius: 20px;
  background: linear-gradient(213deg, #323e51 4.9%, #1d2532 55.16%);
  width: 650px;
  height: 500px;
  margin: auto;
  position: relative;
  //   overflow: hidden;
  h1{
    color: #FFF;
text-align: center;
font-family: 'Inter';
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 130%;
margin-top: -50px;
  }
  .ellipse-26 {
    width: 90px;
    height: 90px;
    margin-left: 330px;
    margin-top: -60px;
    position: absolute;
  }
  .ellipse-24 {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: -50px;
    position: absolute;
  }
  .ellipse-25 {
    width: 400px;
    height: 400px;
    margin-left: -250px;
    margin-top: 200px;
    position: absolute;
  }
  .ellipse-27 {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .ellipse-28 {
    width: 90px;
    height: 90px;
    margin-left: 330px;
    margin-top: 360px;
    position: absolute;
  }
  .images{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 180px;
    margin-top: 10px;
    .cat {
        width: 150px;
        height: 150px;
      }
  }
}
